<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="GenTest.Data" type="GenTest.Data.Bases.NetTiersServiceSection, GenTest.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  
  <connectionStrings>
    <add name="GenTest.Data.ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Connect Timeout=99;Database=GenTest;" />
  </connectionStrings>

  <GenTest.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
				*** SqlClient Provider ***
					connectionStringName: sqlclient connection string to the db
					useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
			-->
      <add
			  name="SqlNetTiersProvider"
			  type="GenTest.Data.SqlClient.SqlNetTiersProvider, GenTest.Data.SqlClient"
			  connectionStringName="GenTest.Data.ConnectionString"
			  providerInvariantName="System.Data.SqlClient"
			  entityFactoryType="GenTest.Entities.EntityFactory"
			  useEntityFactory="true"
			  enableEntityTracking="true"
			  enableMethodAuthorization="false"
			  useStoredProcedure="false"
			  defaultCommandTimeout="30"
			/>
    </providers>
  </GenTest.Data>
  
</configuration>